<div nz-row class="footer">
  <div
    nz-col
    [nzXs]="{ span: 24 }"
    [nzSm]="{ span: 24 }"
    [nzMd]="{ offset: 2, span: 20, offset: 2 }"
    [nzLg]="{ offset: 3, span: 18, offset: 3 }"
  >
    <div class="course-inner footer_inner">
      <div nz-row>
        <div
          nz-col
          [nzXs]="{ span: 24 }"
          [nzSm]="{ span: 24 }"
          [nzMd]="{ offset: 0, span: 6, offset: 0 }"
          [nzLg]="{ offset: 0, span: 6, offset: 0 }"
        >
          <ul>
            <h3>WHO WE ARE ?</h3>
            <li><a routerLink="/about-us">About US</a></li>
            <li><a>Privacy Policy</a></li>
            <li><a>Terms & Conditions</a></li>
            <li><a routerLink="/contact-us">Contact Us</a></li>
          </ul>
        </div>
        <div
          nz-col
          [nzXs]="{ span: 24 }"
          [nzSm]="{ span: 24 }"
          [nzMd]="{ offset: 0, span: 6, offset: 0 }"
          [nzLg]="{ offset: 0, span: 6, offset: 0 }"
        >
          <ul>
            <h3>TUTORIALS</h3>
            <li><a>Javascript</a></li>
            <li><a>Jquery</a></li>
            <li><a>Typescript</a></li>
            <li><a>Rxjs</a></li>
            <li><a>Angular</a></li>
          </ul>
        </div>
        <div
          nz-col
          [nzXs]="{ span: 24 }"
          [nzSm]="{ span: 24 }"
          [nzMd]="{ offset: 0, span: 6, offset: 0 }"
          [nzLg]="{ offset: 0, span: 6, offset: 0 }"
        >
          <ul>
            <h3>PROJECT</h3>
            <li><a>Web application</a></li>
            <li><a>Website</a></li>
            <li><a>Responsive application</a></li>
            <li><a>UI</a></li>
          </ul>
        </div>
        <div
          nz-col
          [nzXs]="{ span: 24 }"
          [nzSm]="{ span: 24 }"
          [nzMd]="{ offset: 0, span: 6, offset: 0 }"
          [nzLg]="{ offset: 0, span: 6, offset: 0 }"
        >
          <ul>
            <h3>FOLLOW US</h3>
            <li>Facebook</li>
            <li>LinkedIn</li>
            <li>Twitter</li>
            <li>Instagram</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div nz-row>
  <div
    nz-col
    [nzXs]="{ span: 24 }"
    [nzSm]="{ span: 24 }"
    [nzMd]="{ span: 24 }"
    [nzLg]="{ span: 24 }"
  >
    <div class="coypright">@Coypright by www.codedesigner.com</div>
  </div>
</div>
